name: Release on GitHub Pages
on:
  push:
    branches: [main]

jobs:
  release:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Build | Résumé
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          root_file: ./resume.tex

      - name: Build | Cirriculum Vitae
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          root_file: ./cv.tex

      - name: Build | Cover letter
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          root_file: ./coverletter.tex

      - name: Stage | PDFs
        run: |
          mkdir pub/
          mv resume.pdf pub/
          mv cv.pdf pub/
          mv coverletter.pdf pub/

      - name: Setup | Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Setup | j2cli
        run: |
          pip3 install --user --upgrade j2cli
          j2 --version

      - name: Stage | Index
        run: |
          PDF='resume.pdf' j2 templates/index.html.j2 > pub/index.html

      - name: Stage | Embed
        run: |
          PDF='resume.pdf' j2 templates/embed.html.j2 > pub/embed.html

      - name: Stage | Résumé
        run: |
          PDF='resume.pdf' j2 templates/index.html.j2 > pub/resume.html

      - name: Stage | Résumé, Embed
        run: |
          PDF='resume.pdf' j2 templates/embed.html.j2 > pub/resume-embed.html

      - name: Stage | CV
        run: |
          PDF='cv.pdf' j2 templates/index.html.j2 > pub/cv.html

      - name: Stage | CV, Embed
        run: |
          PDF='cv.pdf' j2 templates/embed.html.j2 > pub/cv-embed.html

      - name: Stage | Cover letter
        run: |
          PDF='coverletter.pdf' j2 templates/index.html.j2 > pub/coverletter.html

      - name: Stage | Cover letter, Embed
        run: |
          PDF='coverletter.pdf' j2 templates/embed.html.j2 > pub/coverletter-embed.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'pub/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4